.next

node_modules

package.json

pnpm-lock.yaml

README.md

public

locales

.env.example

.env.locale

.env.main

i18.json

next.config.js

postcss.config.js

tsconfig.json

vercel.json

.eslintrc.json

.gitignore

src/components/PrivacyPolicy.tsx

/.prettierrc